@font-face {
  font-family: 'Scruffish';
  src: url('webfontkit/Scruffish.ttf');
}

body {
    background-color: black;
  }

#title-image {
  display: block;
  margin: auto;
  padding: 2vw;
  max-width: 50%;
  z-index: -12;
  position: relative;
}

.top-links:link,
.top-links:visited{
  font-size: 1.5vw;
  text-decoration: none;
  font-family: "Rubik Mono One", sans-serif;
  color: black;
  position: fixed;
  background-color: white;
  padding: 1vw 2vw;
  margin: 4vw 2vw;
  border-radius: 100px;
  transition: color 0.2s;
  box-shadow: 2px 2px slategrey;
}
  
.top-links:hover {
  color: lightslategrey;
}

h2 {
  display: block;
  text-decoration: none;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  font-size: 5vh;
  text-align: center;
  margin: 0px;
  padding-bottom: 0px;
}

h3 {
  display: block;
  text-decoration: none;
  font-family: "Scruffish", sans-serif;
  color: lightslategrey;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding-bottom: 0px;
}

.main-text {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: white;
  margin: 2vw 20vw;
  padding: 1vw;
  padding-top: 0px;
  text-align: center;
  border-bottom: 0.5vw white dashed;
  border-radius: 50px;
}

.sub-text {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: lightslategray;
  text-align: center; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  padding-bottom: 0px;
}

.art-title {
  display: block;
  padding: 1vw;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: white;
  text-shadow: 1px 1px black;
}

.image-3D {
  display: flex;
  margin: auto;
  border: white 2px solid;
  border-radius: 15px;
}

.bottom-line {
  display: flex;
  width: 84%;
  border: 2px lightslategrey dashed;
  margin: auto;
  justify-content: center;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.25;
  z-index: -1;
}

.lightbox-image {
  display: block;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home{
  background-image: url(art_assets/Driving\ Home.png);
}

.bubble{
  background-image: url(art_assets/Summer\ Bubbles.png);
}

.car{
  background-image: url(art_assets/Car.png);
}

.flame{
  background-image: url(art_assets/Flame\ Poster.png);
}

.saucer{
  background-image: url(art_assets/Flying\ Saucer.png);
}

.melon{
  background-image: url(art_assets/Melon.png);
}

.sword{
  background-image: url(art_assets/Dawnbringer\ Render.png);
}

.shiva{
  background-image: url(art_assets/The\ Shiva\ 2.png);
}

.clocktower{
  background-image: url(art_assets/Clocktower.gif);
}

.kart{
  background-image: url(art_assets/CPU_Kart.png);
}

.peach{
  background-image: url(art_assets/peach\ 3.png);
}

.grape{
  background-image: url(art_assets/Procedural\ Grape\ Shader\ 2.png);
}

.potato{
  background-image: url(art_assets/Potato\ Shader.png);
}

.crab{
  background-image: url(art_assets/Aristocrab.png);
}

.drive{
  background-image: url(art_assets/scarfy.png);
}

.lady{
  background-image: url(art_assets/lady\ in\ profile.png);
}

.tac{
  background-image: url(art_assets/TACScruffy.png);
}

.hitbox{
  background-image: url(art_assets/Hitbox.png);
}

.grant{
  background-image: url(art_assets/3b1b.png);
}

.lhr{
  background-image: url(art_assets/Lambert\,\ Hendricks\,\ and\ Ross.png);
}

.pikango{
  background-image: url(art_assets/Pikango\ by\ Scruffy.png);
}

.kass{
  background-image: url(art_assets/Kass.png);
}

.mountain{
  background-image: url(art_assets/DeathMountainConcept.png);
}

.tektite{
  background-image: url(art_assets/Tektite.png);
}

.mario-symphony-1{
  background-image: url(art_assets/fortbeat3.png);
}

.mario-symphony-2{
  background-image: url(art_assets/lavacave1.png);
}

.mario-symphony-3{
  background-image: url(art_assets/Drum\ Summit.png);
}

.mario-symphony-4{
  background-image: url(art_assets/Droning\ Desert.png);
}